{
  "env": {
    "development": {
      "presets": ["env"],
      "plugins": [
        "add-module-exports"
      ]
    },
    "production": {
      "presets": ["env", "minify"],
      "ignore": ["**/configuration.js"],
      "plugins": [
        "add-module-exports",
        ["transform-runtime", {
          "polyfill": false,
          "regenerator": true
        }]
      ]
    }
  }
}
